html {
  font-family: Helvetica, sans-serif;
}

.radio-container {
  border: 1px solid black;
  width: 400px;
  margin: 20px 0;
  min-height: 200px;
}

.radio-container .chunk {
  padding: 10px;
}

.radio-container label {
  display: block;
  text-transform: uppercase;
  color: #666;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.radio-container .preset-btn {
  padding: 5px 10px;
}

.radio-container .preset-btn.active {
  background: orange;
}
